body {
  margin:0;
  font-family:'Times New Roman', Times, serif;
  background-color: white;
  

}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.right {
  background-color: #e5e5e5;
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 7px;
  text-align: center;
}
.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
   background-color: rgb(8, 120, 248);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(20, 160, 27, 0.952);
  z-index: 1;
  font-family: bradley hand, cursive;
  font-size: larger;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

p.wukari {
  font-family: brush script mt, cursive;
  font-size: 40px;
  text-align: center;
margin-bottom: 20px;
margin-top: 10px;
}
  p.first {
    text-align: center;
    font-size: large;
  }
  p.text {
    font-family: sans-serif;
    font-display: center;
    text-align: center;
    color: rgba(36, 36, 133, 0.651);
  }
  
p.img {
  margin-top: 30px;
margin-bottom: 30px;

}

 h3.address {
   color: white;

 }
 p.ip {
  color: white;
  background-color: green;
font-size:10px;
text-align: center;
}
h3{
font-size: 10px;
text-align: center;
margin-bottom: 10px;
}
 p.taraba {
  color: rgb(19, 161, 19);
  font-size: 20px;
  border-width: 5px;
  font-family: cursive;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
  p.course {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 20px;
      text-decoration: underline;
      font-family: arial, sans-serif;
  }
p.goal {
font-family: arial, sans-serif;
text-align: center;
font-size: 10px;
}
  div.art {
      border: 1px solid black;
      border-radius: 10px;
      border-width: 2px solid grey;
      text-align: center;
      
  }

  p.abraham {
      font-size: 15px;
      font-family: didot, serif;
  }
  p.braham {
font-size: 10px;
font-family: didot, serif;
margin-bottom: 30px;
}
  p.why {
    margin-top: 50px;
    margin-bottom: 10px;
text-align: center;
font-family: monaco, monospace;
    
    
  }
  
 
  
  p.learn {
    font-family: monospace;
    color: white;
    background-color: black;
    text-align: center;
    font-size: 10px;
margin-bottom: 20px;
margin-top: 10px;
  
  }
  p.newton {
    
    text-align: center;
    font-size: 15px;
  }
p.newton2 {
    font-family: cursive;
    text-align: center;
margin-top: 20px;
margin-bottom:20px;
  }


  p.newton1 {
    font-family: cursive;
    text-align: center;
    font-size: 25px;
  }
    img.profile {
      margin-top: 30px;
      margin-bottom: 20px;
}

    hr.line {
      margin-bottom: 20px;
      margin-top: 20px;
    }
    
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }
  .grid-item {
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
  }
p.ip {
background-color: green;
color: white;
font-size: 20px;
}
 span.lord {
  color: rgb(19, 161, 19);
  font-size: 25px;
  border-width: 5px;
  font-family: cursive;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 }